.header__square-pic {
    position:absolute;
    right: 0px;
    top: 64px;
    background-color:#2f80ed;
    height: 568px;
    width: 568px;
    animation: rotate-pic 20s infinite linear running;
  }